:root {
  --grey: #222;
  --dark-grey: #111;
  --white: #eee;
  --blue: cornflowerblue;
}

* {
  box-sizing: border-box;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

input {
  border: none;
  border-radius: 0;
  height: 50px;
  padding: 0 15px;
  margin: 0 5px;
  font-size: 20px;
  color: var(--grey);
  outline: none;
  line-height: 25px;
}

textarea::placeholder,
input::placeholder{
  transition: opacity .3s;
}

textarea:hover::placeholder,
textarea:focus::placeholder,
input:hover::placeholder,
input:focus::placeholder{
  opacity: 0;
}

button {
  cursor: pointer;
  background-color: white;
  border-radius: 3px;
  padding: 10px;
  font-size: 18px;
  border: none;
  outline: none;
}

body {
  margin: 0;
  margin-top: 200px;
  padding: 0 25px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: var(--grey);
  color: var(--white);
  font-family: sans-serif;
  overflow-x: hidden;
}

#search {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  height: 75px;
  width: 100%;
  text-align: center;
  font-size: 25px;
  background-color: #191919;
  color: #ddd;
}